/*Comecinho do css, deixando bonitin :]*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}

	body {
		font-size: 100%;
		font-family: candara;
		/*background: linear-gradient(45deg, #03383c, #3fa0a7);*/
		background-color: #333841;
		color: white;
		transition: background 0.2s linear;
	}

	.cabecalho {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 5px;
	}

	header .cabecalho{
		position: fixed;
		background: transparent;
		backdrop-filter: blur(10px);
	}

	nav .navMenu {
		display: flex;
		text-align: end;
	}

	.cabecalho-links {
		display: flex;
		gap: 20px;
		list-style: none;
	}

	.cabecalho-item {
		letter-spacing: 1px;
		font-size: 18px;
		font-family: candara;
		font-weight: bold;
	}

	.aboutme {
		display: flex;
		flex-direction: column;
		width: 600px;
	}

	.contato {
		text-align: center;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
	}
	

	.contato p {
		background-color: #333841;
		height: 35px;
		width: 100px;
		line-height: 35px;
	}

	.contatoGit {
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
	}

	.contatoEmail {
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
	}
	/*-------------------------Tirando links------------------------*/
	 
	 .git:visited, .git:hover, .git:link, .git:active {
		color: white;
	 }

	 .email:visited, .email:hover, .email:link, .email:active {
		color: white;
	}
	.linkedin:visited, .linkedin:hover, .linkedin:link, .linkedin:active {
		color: white;
	}

	.contatoLinkedin:hover {
		background-color: #0d8ac9;
		transition-duration: 0.5s;
		/*TIRAR O LINK DOS CONTATOS*/
	}

	.contatoGit:hover {
		background-color: rgb(16, 15, 15);
		transition-duration: 0.5s;
	}

	.contatoEmail:hover {
		transition-duration: 0.5s;
		background-color: rgb(205, 27, 27);
	}

	.apresentacao {
		background: linear-gradient(200deg, #0a544a, #3fa0a7);
		margin-bottom: 80px;
		padding-top: 60px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		gap: 100px;
	}

	.fundo-foto {
		padding-bottom: ;
	}
	
	.minha-foto {
		border-radius: 40px 20px 40px 20px;
		
		width: 240px;
		height: 290px;
		filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.497));
	}

	.apresentacaoTexto {
		text-indent: 50px;
		max-width: 700px;
		font-size: 22px;
		margin: 15px;
	}

	/*----------------------------animando os itens----------------------*/
	.cabecalho-item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
		color: white;
	}
	.cabecalho-item {
		transition: background-color 0.7s;
		width: 7vw;
		border-radius: 7px;
	}

	.cabecalho-item:hover {
		background-color: #296e73;
	}

	.cabecalho-nome {
		padding-left: 105px;
		padding-top: 15px;
		float: left;
		align-items: left;
	}

	.logo {
		text-transform: uppercase;
		color: #fff;
		font-size: 30px;
		font-weight: bold;
	}

	.titulo-projetos {
		text-align: center;
		width: 0px block;
		font-size: 25px;
	}

	.meus-projetos {
		text-align: center;
		padding-top: 35px;
		display: flex;
		flex-direction: row;
		gap: 40px;
		justify-content: center;
		flex-wrap: wrap-reverse;
	}

	.projeto-key, .projeto-cda, .projeto-mcl {
		color: white;
		border: none;
		width: 340px;
		height: 220px;
		border-radius: 6px;
		background: linear-gradient(200deg, #0a544a, #3fa0a7);
		padding-top: 20px;
	}

	.titulo-kpp {
		text-transform: uppercase;
		text-decoration: none;
		font-size: 26px;
		color: white;
		font-weight: bold;
	}
	.texto-projeto {margin-top: 20px;}

	.titulo-git {
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		padding-top: 50px;
	}

	.titulo-hab {
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		padding-top: 100px;
	}

	.texto-projeto {
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* TRANSIÇÃO COM BLUR NA FRENTE QUE APÓS SOBREPOSSIÇÃO DO MOUSE O BLUR SOME :].blurtransition {
		filter: blur(10px);
		transition: filter 0.2s;
	}
	.blurtransition:hover {
		filter: blur(0px);
	}*/
/*footer*/

	.titulo-contato {
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		padding-top: 20px;
	}

	.footer {
		font-size: 20px;
		margin-top: 20px;
		display: flex;
		justify-content: space-around;

		border-top: 5px solid #313568;
		/*background: linear-gradient(70deg, #03383c, #3fa0a7);*/
		background-color: ;
	}

	.fim {
		color: white;
		list-style: none;
		text-align: center;
		padding-bottom: 30px;

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 90px;

		margin-top: 35px;
		font-size: 25px;

		transition-property: background-color, border-radius;
	}

/*----------@MEDIA QUERY----------*/
	/* @media (width: 888px) {
		.cabecalho-item {
			display: none;
		}
	} */
