@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Nova+Mono&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    /*font-family: 'Be Vietnam Pro', sans-serif;*/
    font-family: "Rokkitt", serif;
    background-color: #505257;
    color: white;
}

a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

/*-------------------------INÍCIO DO CABEÇALHO-------------------------*/
header {
    background: linear-gradient(200deg, #0a544a, #3fa0a7);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1rem;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 3rem;
}

.logoImg {
    display: flex;
    align-items: center;
}

.ulMenu {
    display: flex;
    list-style: none;
}

.navItem {
    margin: 0px 20px;
}

ul li {
    transition: transform 0.3s;
    /* Animation */
}

ul li:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 730px) {
    .ulMenu {
        font-size: 10px;
    }
}

/*--------------------------FIM DO CABEÇALHO--------------------------*/
/*---------------------------INÍCIO DA MAIN---------------------------*/
.aboutMe {
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}

.textAboutMe {
    text-align: center;
}

.textAboutMe p {
    width: 30vw;
}

.imgEu img {
    width: 200px;
    height: 250px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.contato {
    text-align: center;
}

.git,
.email,
.linkedin {
    margin: 20px;

}

/*---------------------PAREI AQUI----------------------*/
.contato img:hover {
    /* transform: rotate(360deg); */
    transform: scale(1.3);
}

.contato img {
    width: 25px;
    height: 25px;
    transition: transform 0.4s;
}

article h1 {
    background: linear-gradient(200deg, #0a544a, #3fa0a7);
    font-size: 25px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.7rem;
}

.sectionProjetos {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projetos {
    width: 380px;
    height: 260px;
    padding: 20px;
    background-color: transparent;
    perspective: 1000px;
}

.frontCard,
.backCard {
    border-radius: 10px;
}

.textKey, .textCtrl, .textAppF {
    padding: 10px;
}

.frontH {
    padding-top: 50px;
    justify-content: center;
}

.innerProjetos {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.projetos:hover .innerProjetos {
    transform: rotateY(180deg);
}

.frontCard,
.backCard {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.frontCard {
    background: linear-gradient(200deg, #0a544a, #3fa0a7);
    color: white;
}

.backCard {
    background: linear-gradient(200deg, #0a544a, #3fa0a7);
    color: white;
    transform: rotateY(180deg);
}


/*----------------------------FIM DA MAIN----------------------------*/
/*--------------------------INÍCIO DO FOOTER--------------------------*/
footer {
    background: linear-gradient(200deg, #0a544a, #3fa0a7);
    text-align: center;
    font-family: "rokkitt", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*----------------------------FIM Do FOOTER----------------------------*/
