/*Comecinho do css, deixando bonitin :]*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;

	}

	html {

	}

	body {
		font-size: 100%;
		/*background: linear-gradient(45deg, #03383c, #3fa0a7);*/
		background-color: #333841;
		color: white;
		transition: background 0.2s linear;
	}

	.aboutme {
	display: flex;
	flex-direction: column;
	width: 600px;
}

	.contato {
		text-align: center;
		font-family: candara;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
	}

	.contato p {
		background-color: #333841;
		height: 35px;
		width: 100px;
		border-radius: 35px;
		line-height: 35px;
	}
	/*-------------------------Tirando links------------------------*/
	 
	 .git:visited, .git:hover, .git:link, .git:active {
		 color: white;
	 }

	 .email:visited, .email:hover, .email:link, .email:active {
		color: white;
	}
	.linkedin:visited, .linkedin:hover, .linkedin:link, .linkedin:active {
		color: white;
	}

	.contatoLinkedin:hover {
		background-color: #087bb4;
		transition-duration: 0.5s;
		/*TIRAR O LINK DOS CONTATOS*/
	}

	.contatoGit:hover {
		background-color: rgb(0, 0, 0);
		transition-duration: 0.5s;
	}

	.contatoEmail:hover {
		transition-duration: 0.5s;
		background-color: rgb(241, 1, 1);
	}

	.apresentacao {
		background: linear-gradient(200deg, #0a544a, #3fa0a7);
		margin-bottom: 80px;
		padding-top: 60px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		gap: 100px;
	}

	.fundo-foto {
		padding-bottom: ;
	}
	
	.minha-foto {
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		width: 240px;
		height: 290px;
		filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.497));
	}

	.apresentacaoTexto {
		text-indent: 50px;
		max-width: 700px;
		font-family: candara;
		font-size: 22px;
		margin: 15px;
	}

	.cabecalho-links {
		display: flex;
		justify-content: flex-end;
		gap: 10px;
		padding-bottom: 20px;
		padding-right: 100px;
		padding-top: 20px;
	}

	.cabecalho-item {
		font-family: candara, sans-serif;
		font-size: 18px;
		font-weight: bold;
		border-radius: 10px;
	}

	/*----------------------------animando os itens----------------------*/
	.cabecalho-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width:;
		height: 30px;
		color: white;
	}
	.cabecalho-item {
		transition: background-color 0.7s;
		width: 100px;
	}

	.cabecalho-item:hover {
		background-color: #296e73;
		width: ;

	}

	.cabecalho-nome {
		padding-left: 105px;
		padding-top: 15px;
		float: left;
		align-items: left;
	}

	.nome {
		text-transform: uppercase;
		font-family: candara;
		color: white;
		font-size: 30px;
		font-weight: bold;
		padding-left: 45px;
	}

	.titulo-projetos {
		text-align: center;
		width: 0px block;
		font-family: candara;
		font-size: 25px;
	}

	.meus-projetos {
		font-family: candara, serif;
		text-align: center;
		padding-top: 35px;
		display: flex;
		flex-direction: row;
		gap: 40px;
		justify-content: center;
		flex-wrap: wrap-reverse;
	}

	.projeto-key, .projeto-cda, .projeto-mcl {
		color: white;
		border: none;
		width: 340px;
		height: 220px;
		border-radius: 8px;
		background: linear-gradient(200deg, #0a544a, #3fa0a7);
		padding-top: 20px;
	}

	.titulo-kpp {
		text-transform: uppercase;
		font-family: candara, serif;
		text-decoration: none;
		font-size: 26px;
		color: white;
		font-weight: bold;
	}
	.texto-projeto {margin-top: 20px;}

	.titulo-git {
		font-family: candara, serif;
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		padding-top: 50px;
	}

	.titulo-hab {
		font-family: candara, serif;
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		padding-top: 100px;
	}

	.texto-projeto {
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* TRANSIÇÃO COM BLUR NA FRENTE QUE APÓS SOBREPOSSIÇÃO DO MOUSE O BLUR SOME :].blurtransition {
		filter: blur(10px);
		transition: filter 0.2s;
	}
	.blurtransition:hover {
		filter: blur(0px);
	}*/

	/*CRIAÇÃO DO GRÁFICOOO :)*/

	#graf {
		margin: auto;
		background: linear-gradient(200deg, #0a544a, #3fa0a7);
		margin-top: 10%;
		border-radius: 8px;
	}
/*footer*/

	.titulo-contato {
		font-family: candara;
		text-align: center;
		font-size: 33px;
		font-weight: bold;
		padding-top: 20px;
	}

	.footer {
		font-family: candara;
		font-size: 20px;
		margin-top: 20px;
		display: flex;
		justify-content: space-around;

		border-top: 5px solid #313568;
		/*background: linear-gradient(70deg, #03383c, #3fa0a7);*/
		background-color: ;
	}

	.fim {
		color: white;
		list-style: none;
		text-align: center;
		padding-bottom: 30px;

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 90px;

		margin-top: 35px;
		font-size: 25px;

		transition-property: background-color, border-radius;
	}
